.row, .column {
    display: flex;
    flex: 1;
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
    border: 4px solid brown;
    overflow: hidden; 
}

.header, .footer {
    height: 58px;
    border: 1px solid;
}

.header {
    border-color: blue;
}

.footer {
    border-color: yellow;
}

.content {
    display: flex;
    border: 1px solid green;
    padding: 40px 45px;
    background: radial-gradient(0, rgb(53,44,51) 40%, rgba(26,25,25, 1) 100%);
    overflow: hidden;
}


.slider {
    display: flex;
    flex-direction: row;
    overflow: scroll;
}

.slider img {
    width: 100%;
    border-radius: 2px;
}


.navigation-button {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.dot {
    cursor: pointer;
    height: 2px;
    width: 24px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.active, .dot:hover {
    background-color: #717171;
}


.slide-section, .new-arrivals {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.section2 {
    display: flex;
    max-height: 716px;
    column-gap: 29px;
    overflow-x: auto; 
    width: 100%;
    flex-wrap: nowrap; 
}


.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #130e10;
    min-width: 300px;
    flex: none; 
}

.card span {
    color: white;
}

.card-span {
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: space-between;
    gap: 15px;
}

span.game-name {
    font-size: 25px;
    font-weight: 550;
    flex-wrap: wrap;
}

.card-buttons {
    display: flex;
    gap: 20px;
}

.add-wishlist, .add-to-cart {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

.add-wishlist {
    background-color: black;
    border-radius: 60px;
    border: transparent;
}

.add-to-cart {
    flex: 1;
    max-width: 120px; 
    border-radius: 2px;
    background-color: var(--violet-button-background);
}

.game-score {
    display: flex;
    gap: 10px;
}

span.game-score {
    font-size: 18px;
}

span.purple-button-span  {
    font-size: 20px;
}

span.fa-star {
    color: #ffc030;
}

span.fa-stack {
    display: flex;
    align-items: center;
}