
.row, .column {
    display: flex;
}

.row {
    flex-direction: row;
    overflow: hidden; 
}

.column {
    flex-direction: column;
    overflow: hidden; 
}

.header {
    display: flex;
    flex: 1;
    position: fixed;
    width: 100%;
    height: var(--header-height);
    padding: 0 40px;
    align-items: center;
 
}

.header span {
   margin: 0 5px;
}

.content {
    display: flex;
    flex:1;
    overflow: scroll;
    flex-direction: column;
    padding: var(--header-height) 45px;
}

.slider {
    display: flex;
    flex-direction: row;
}

.slider img {
    width: 100%;
    border-radius: 2px;
}


.navigation-button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 10px 0;
}

.navigation-button > span:nth-last-child(-n + 2)  {
    opacity: .7;
    margin: 0 5px;
    cursor: pointer;
}

.dot {
    cursor: pointer;
    height: 3px;
    width: 30px;
    margin: 0 4px;
    border-radius:2px;
    background-color: #bbb;
    display: inline-block;
}

.active, .dot:hover {
    background-color: #717171;
}


.slide-section, .new-arrivals {
    display: flex;
    gap: 20px;
}

.section2 {
    display: flex;
    max-height: 716px;
    column-gap: 29px;
    overflow: hidden;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #130e10;
    min-width: 300px;
}

.card span {
    color: white;
}

.card-span {
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: space-between;
    gap: 15px;
}

span.game-name {
    font-size: 25px;
    font-weight: 550;
    flex-wrap: wrap;
}

.card-buttons {
    display: flex;
    gap: 20px;
}

.add-wishlist, .add-to-cart {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

.add-wishlist {
    background-color: black;
    border-radius: 60px;
    border: transparent;
}

.add-to-cart {
    flex: 1;
    max-width: 120px; 
    border-radius: 2px;
    background-color: var(--violet-button-background);
}

.game-score {
    display: flex;
    gap: 10px;
}

span.game-score {
    font-size: 18px;
}

span.purple-button-span  {
    font-size: 20px;
}

span.fa-star {
    color: #ffc030;
}

span.fa-stack {
    display: flex;
    align-items: center;
}

.search-bar {
    position: absolute;
    width: 600px;
    height: 200px;
    left: 29%;
    top: 20%;
    border: 3px solid yellow}
  
.search-input {
    display: flex;
    flex-direction: row;
    
}

.purple-btn {
    display: flex;
    color: white;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    background-color: var(--violet-button-background);
    border-radius: 8px;
    height: 36px;
    width: var(--button-add-friends-width);
}

.header-content-wrapper span {
    color: white;
}

.cart-btn {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    width: 50px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, .3)
}

.header-content-wrapper {
    display: flex;
    flex:1;
    margin-left: 25%;
}