.row {
    display: flex;
    flex: 1;
    flex-direction: row;
}
  
.column {
    display: flex;
    flex: 1;
    flex-direction: column;
    border: 4px solid brown;
}

.header {
    border: 1px solid blue;
    height: 58px;
}

.content {
    border: 1px solid green;
    padding: 40px 45px;
    background: radial-gradient(0, rgb(53,44,51) 40%, rgba(26,25,25, 1) 100%);
}

.footer {
    border: 1px solid yellow;
    height: 58px;
}

.slider {
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.slider img {
    display: flex;
    width: 100%;
    border-radius: 2px;
}

.navigation-button {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
}

.dot {
    cursor: pointer;
    height: 2px;
    width: 24px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.slide-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.new-arrivals {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.section2 {
    display: flex;
    max-height: 716px;
    column-gap: 29px;
    overflow: hidden;

}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #130e10;
}

.card span {
    color: white;
}

.card-span {
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: space-between;
    gap: 15px;
}

span.game-name {
    display: flex;
    flex-wrap: wrap;
    font-size: 25px;
    font-weight: 550;
}

.active,
.dot:hover {
    background-color: #717171;
}

.card-buttons {
    display: flex;
    gap: 20px;
}



.add-wishlist {
    display: flex;
    cursor: pointer;
    background-color: black;
    border-radius: 60px;
    border: transparent;
}

.add-to-cart {
    display: flex;
    flex:1;
    max-width: 120px; 
    border-radius: 2px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: var(--violet-button-background);
}

.game-score {
    display: flex;
    gap: 10px;
}

span.game-score {
    font-size: 18px;
}

span.purple-button-span  {
    font-size: 20px;
}


span.fa-star {
    color: #ffc030;
}

span.fa-stack {
    display: flex;
    align-items: center;
}