:root {
  --sidebar-expandable-text-color: #716d7a;
  --sidebar-expandable-text-hovered: #f2f2f3;
}

* {
  margin: 0;
  padding: 0;
}

.fa {
  color: var(--sidebar-expandable-text-color);
}

html {
  display: flex;
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  flex: 1;
}
