:root {
  --sidebar-expandable-text-color: #716d7a;
  --sidebar-expandable-text-hovered: #f2f2f3;
  --violet-button-background: #a380d1;
}

* {
  margin: 0;
  padding: 0;
}

.fa {
  color: var(--sidebar-expandable-text-color);
}

html, body {
  display: flex;
  width: 100vw;
  height: 100vh;
}
