

.row {
  display: flex;
  flex:1;
  flex-direction: row;
}

.column {
  display: flex;
  flex:1;
  flex-direction: column;
  border: 4px solid brown;
}


.header {
  border: 1px solid blue;
  height: 58px;
}

.content {
  border: 1px solid green;
  display: flex;
  flex:1;
}


.sidebar {
   border: 1px solid red;
 }

 .footer {
  border: 1px solid yellow;
  height: 58px;
}
