.sidebar {

  padding: 0 22px;
  width: 248px;
  background: rgb(133, 110, 203);
  background: linear-gradient(0, rgb(20, 9, 33) 100%, rgba(21, 14, 35, 1) 40%);
}

.sidebar span {
  color: var(--sidebar-expandable-text-color);
  font-size: 13px;
}

.expandable-header-button {
  display: flex;
  background-color: transparent;
  justify-content: space-between;
  width: 100%;
  cursor: pointer;
  border: none;
  margin: 8px 0;
  text-transform: uppercase;
  font-weight: 600;
}

.expandable-content {
  display:flex;
  flex-direction: column;
  height: 0;
  overflow: hidden;
  transition: height 0.2s ease-out;
  border: 1px solid red;
  text-transform: capitalize;
}

.expandable-content > a {
  text-decoration: none;
}

.sidebar-select-page > span:hover {
  color: var(--sidebar-expandable-text-hovered);
}

.sidebar-select-page {
  display: flex;
  background-color: transparent;
  justify-content: flex-start;
  width: 100%;
  cursor: pointer;
  border: none;
  margin: 8px 0;
}

.sidebar-select-page > i {
  margin-right: 5px;
}
